/* COMMON */
.divider {
  width: 1px;
  height: 13px;
  background-color: #E4E8EB;
}

.circle {
  width: 3px;
  height: 3px;
  background-color: gray;
  border-radius: 50%;
  margin: 0 2px;
}

body {
  height: 1000px;
}

/* HEADER */
header {
  width: 1130px;
  padding-top: 10px;
  margin: auto;
}

.header-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
}

.header-links a {
  color: black;
}

.header-links .divider {
  margin: 0 10px;
}

.header-links a:nth-child(3) {
  font-weight: 800;
  color: #C0C4C9;
}

.header-links a:last-child {
  margin-left: 10px;
  font-weight: 600;
  color: #C0C4C9;
}

.header-search__logo {
  width: 420px;
  height: 160px;
}

.header-search {
  margin-top: -20px;
  margin-left: -100px;
  display: flex;
  align-items: center;
}


.header-search form {
  width: 585px;
  height: 50px;
  border: 2px solid #AAD7F1;
  display: flex;
  align-items: center;
  margin-left: -70px;
  position: relative;
}


.header-search input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;

}


.header-search button {
  height: 100%;
  width: 56px;
  background-color: #AAD7F1;
  border: none;
  cursor: pointer;
}

.header-search .fa-keyboard {
  position: absolute;
  right: 90px;
  color: #80868B;
}

.header-search .fa-angle-down {
  color: #02CF5E;
  position: absolute;
  right: 65px;
}

.header-search .fa-magnifying-glass {
  font-size: 25px;
  color: white;
}

.header-underbox {
  border-top: 1px solid #E0E4E7;
  border-bottom: 1px solid #E0E4E7;
  display: flex;
  height: 54px;
  width: 100%;
  flex-grow: 1;
}

.header-column {
  display: flex;
  align-items: center;
  flex-grow: 2;
}

.nav-list__a {
  margin-left: 1px;
  font-size: 15px;
}

.nav-list__a a {
  color: black;
}

.nav-list__a:nth-child(-n+9)>a {
  color: #02CF5E;
}

.nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  font-weight: 700;
}

.header-column__right {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rebeccapurple; */
}

.header-column__right span {
  font-size: 10px;
  margin: 0 2px;
}


.header-column__right i {
  color: #33A1FF;
  font-size: 16px;
}

.header-column__right .strong {
  font-size: 15px;
  font-weight: 700;
}

/* MAIN */


main {
  width: 1130px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}


/* MAIN LEFT */

.main-column__left {
  margin-top: 20px;
  width: 750px;
}

.main-column__left img {
  width: 750px;
  height: 140px;
}

.main-column__left .news {
  display: flex;
  width: 750px;
  height: 50px;
  background-color: #F6F9FA;
  border: 1px solid #D9E1E5;
  justify-content: space-between;
  margin-top: 10px;
}

.main-column__left .news-column:first-child {
  display: flex;
  align-items: center;
  width: 60%;
}

.main-column__left .news-column h3 {
  font-weight: 600;
  font-size: 14px;
  margin-right: 5px;
  margin-left: 8px;
}

.main-column__left .news-column h4 {
  font-size: 13px;
  margin-left: 5px;
}

.main-column__left .news-column:last-child {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}

.main-column__left .news-column:last-child a {
  color: black;
  margin: 0 3px;
  font-size: 13px;
  font-weight: 700;
}



.main-column__left .news-column a:first-child {
  color: #3565C8;
}


.main-column__left .news-settings {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.main-column__left .news-settings .news-settings__row-left {
  display: flex;
  align-items: center;
}

.main-column__left .news-settings .news-settings__row-left .fa-calendar-days {
  color: #547AD8;
  margin-right: 5px;
}

.main-column__left .news-settings .news-settings__row-left .fa-angle-right {
  color: #757A7F;
  margin: 0 3px;

}

.main-column__left .news-settings .news-settings__row-left h1 {
  font-weight: 700;
  font-size: 15px;
  margin-right: 3px;
}

.main-column__left .news-settings .news-settings__row-left h2 {
  font-size: 14px;
  margin: 0 3px;
}

.main-column__left .news-settings .news-settings__row-left h3 {
  font-size: 14px;
  font-weight: 700;
  margin-left: 4px;
}

.main-column__left .news-settings .news-settings__row-right i {
  color: #5F6266;
  margin-left: 10px;
}

.main-column__left .news-settings .news-settings__row-right .fa-border-all {
  color: #3E63BF;
}

.main-column__left .news-square {
  margin-top: 10px;
  /* background-color: red; */
  height: 260px;
}

.main-column__left .news-square ul {
  display: flex;
}

.main-column__left .news-square li {
  width: 125px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #D9E1E5;
}

/* MAIN RIGHT */

.main-column__right {
  margin-top: 20px;
  width: 350px;
}

.main-column__right .login {
  width: 350px;
  height: 140px;
  background-color: #F6F9FA;
  border: 1px solid #D9E1E5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-column__right .login h5 {
  font-size: 12px;
  color: #808080;
  margin-left: -120px;
  margin-bottom: 5px;
}


.main-column__right .login .login-naver__login-box {
  width: 320px;
  height: 50px;
  background-color: #02CF5E;
  font-size: 20px;
  font-weight: 800;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
}

.main-column__right .login .login-settings {
  display: flex;
  width: 320px;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 5px;
}


.main-column__right .login .login-settings i {
  color: #9FA2A6;
  margin: 0 2px;
}

.main-column__right .login .login-settings .login-settings__left {
  display: flex;
  align-items: center;
}

.main-column__right .stock {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border: 1px solid #DAE1E6;
}

.main-column__right .stock .stock-row__right {
  display: flex;
  align-items: center;
}

.main-column__right .stock .stock-row__right h1 {
  font-weight: 700;
  font-size: 14px;
  margin-left: 10px;
}

.main-column__right .stock .stock-row__right .divider {
  margin: 0 5px;
}

.main-column__right .stock .stock-row__right h2 {
  font-size: 13px;
  margin-right: 5px;
}

.main-column__right .stock .stock-row__right .number {
  font-weight: 800;
  font-size: 15px;
  margin-right: 5px;
}

.main-column__right .stock .stock-row__right h3 {
  color: #F05C5C;
}

.main-column__right .stock .stock-row__left {
  margin-right: 7px;
  /* background-color: red; */
  display: flex;
}

.main-column__right .stock .stock-row__left span {
  border: 1px solid #DAE1E6;
  padding: 4px 8px;
}

.main-column__right .stock .stock-row__left i {
  font-size: 6px;
}

.main-column__right .right-banner {
  margin-top: 10px;
}

.main-column__right .right-banner img {
  height: 200px;
}